.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  flex-direction: column;
}


.container{
  color: white;
  font-size: 21vw;
}

.cursor{
  position: absolute;
  width: 20px;
}
